<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Character</title>
</head>
<body>
    <div class="content">
    <h2>Create a new character</h2>
      <div id 'character-create-container'>
        <%= form_for @character do |f| %>
          <div id = "name-metatype-inputs">
            <%= f.label :name %>
            <%= f.text_field :name %>

            <%= f.label :metatype %>
            <%= f.collection_select(:metatype_id, Metatype.all, :id, :name) %>
          </div>

          <div id ='stat-explanation'>Remember, standard attributes range between
          1 and 6, but various metatypes/augmentations can let some attributes
           get as high as 15.</div>

          <div class = 'stats'>
            <%= f.label :body, class: "creation_label" %>
            <%= f.select :body, (1..15) %>

            <%= f.label :agility %>
            <%= f.select :agility, (1..15) %>

            <%= f.label :reaction %>
            <%= f.select :reaction, (1..15) %>

            <%= f.label :strength %>
            <%= f.select :strength, (1..15) %>

            <%= f.label :charisma %>
            <%= f.select :charisma, (1..15) %>

            <%= f.label :intuition %>
            <%= f.select :intuition, (1..15) %>

            <%= f.label :logic %>
            <%= f.select :logic, (1..15) %>

            <%= f.label :willpower %>
            <%= f.select :willpower, (1..15) %>

            <%= f.label :edge %>
            <%= f.select :edge, (1..15) %>
          </div>

          <div class = 'stats'>
            <%= f.label :essence %>
            <%= f.number_field :essence, step: '0.1', in: 0..6, value: 6 %>

            <%= f.label :magic %>
            <%= f.number_field :magic, in: 0..15, value: 0 %>

            <%= f.label :initiative_passes %>
            <%= f.number_field :initiative_passes, value: 1 %>

            <%= f.label :nuyen %>
            <%= f.number_field :nuyen, value: 0 %>
          </div>

          <div id ='bio-submit'>
            <%= f.label :bio %>
            <%= f.text_area :bio %>

            <%= f.submit 'Create' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class = 'big-push'>
    </div>

</body>
</html>
