<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Character</title>
  <link rel="stylesheet" href="sr4.css" />
</head>
<body>

    <div class="content">
    <h2>Create a new character</h2>

    <%= form_for @character do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <br>
      <%= f.label :metatype %>
      <%= f.collection_select(:metatype_id, Metatype.all, :id, :name) %>
      <br>
      <%= f.label :body %>
      <%= f.text_field :body %>
      <br>
      <%= f.label :agility %>
      <%= f.text_field :agility %>
      <br>
      <%= f.label :reaction %>
      <%= f.text_field :reaction %>
      <br>
      <%= f.label :strength %>
      <%= f.text_field :strength %>
      <br>
      <%= f.label :charisma %>
      <%= f.text_field :charisma %>
      <br>
      <%= f.label :intuition %>
      <%= f.text_field :intuition %>
      <br>
      <%= f.label :logic %>
      <%= f.text_field :logic %>
      <br>
      <%= f.label :willpower %>
      <%= f.text_field :willpower %>
      <br>
      <%= f.label :edge %>
      <%= f.text_field :edge %>
      <br>
      <%= f.label :essence %>
      <%= f.text_field :essence %>
      <br>
      <%= f.label :magic %>
      <%= f.text_field :magic %>
      <br>
      <%= f.label :initiative_passes %>
      <%= f.text_field :initiative_passes %>
      <br>
      <%= f.label :nuyen %>
      <%= f.text_field :nuyen %>
      <br>
      <%= f.label :bio %>
      <%= f.text_field :bio %>
      <br>
      <%= f.submit 'Create' %>
    <% end %>


</body>
</html>
