<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Character</title>
</head>
<body>

<div id = "character-name"><%= @character.name %></div>

<ul class="char-nav">
  <li><%= link_to 'Base',character_path(@character) %></li>
  <li> | </li>
  <li><%= link_to 'Skills', character_character_skills_path(@character) %></li>
  <li> | </li>
  <li><%= link_to 'Qualities', character_character_qualities_path(@character) %></li>
  <li> | </li>
  <li><%= link_to 'Inventory', character_inventory_index_path(@character) %></li>
  <li> | </li>
  <li><%= link_to 'Connections', character_connections_path(@character) %></li>
</ul>



<ul class = "character-details">
<li><%= "Metatype: #{@character.metatype.name}" %></li>
<li><%= "Metatype special: #{@character.metatype.special_ability}" %></li>
<ul class = "barscilwe">
  <li><%= "Body: #{@character.body}" %>
  <li><%= "Agility: #{@character.agility}" %>
  <li><%= "Strength: #{@character.strength}" %>
  <li><%= "Reaction: #{@character.reaction}" %>
  <li><%= "Charisma: #{ @character.charisma}" %>
  <li><%= "Intuition: #{ @character.intuition}" %>
  <li><%= "Logic: #{@character.logic}" %>
  <li><%= "Willpower: #{@character.willpower}" %>
  <li><%= "Edge: #{@character.edge}" %>
</ul>
<li><%= "Physical damage track: #{8 + (@character.body.to_f/2).ceil}" %></li>
<li><%= "Stun damage track: #{8 + (@character.willpower.to_f/2).ceil}" %></li>
<li><%= "Initiative: #{@character.reaction + @character.intuition}"%></li>
<li><%= "Initiative passes: #{@character.initiative_passes}" %></li>
<li><%= "Nuyen: #{@character.nuyen}" %></li>
<li><%= "Essence: #{@character.essence}" %></li>
<li><%= "Magic/Resonance: #{@character.magic}" %></li>
<li><%= "Bio: #{@character.bio}" %></li>
</ul>

  <div id='character-stat-edit'> Edit Character's: </div>
      <%= form_for @character, html: { id: "change_character" },
        method: :patch do |f| %>
        <%= select_tag "change", options_for_select(@attributes),
        prompt: "Select attribute to edit" %>
        <div id="base-edits">
          <div class="edit-input">
          </div>
        <%= f.button :submit %>
      </div>
      <% end %>

<div id="character-deletion">
  <%= link_to("Delete this character? This action cannot be undone.",
    character_path(@character), method: :delete) %>
</div>


</body>
</html>
