<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Character</title>
  <script language="javascript" type="text/javascript" src="/jquery.1.11.1.js"></script>
  <script language="javascript" type="text/javascript" src="/app.js"></script>
  <script language="javascript" type="text/javascript" src="/skills_dynamic_forms.js"></script>
  <link rel="stylesheet" href="/sr4.css" />
</head>
<body>

<div id = "character-name"><%= @character.name %></div>

<ul class="char-nav">
  <li><%= link_to 'Base',character_path(@character) %></li>
  <li> | </li>
  <li><%= link_to 'Skills', character_character_skills_path(@character) %></li>
  <li> | </li>
  <li><%= link_to 'Qualities', character_character_qualities_path(@character) %></li>
  <li> | </li>
  <li><%= link_to 'Inventory', character_inventory_index_path(@character) %></li>
  <li> | </li>
  <li><%= link_to 'Connections', character_connections_path(@character) %></li>
</ul>

<div class = "content">

<ul class = "character-details">
<li><%= "Metatype: #{@character.metatype.name}" %></li>
<li><%= "Metatype special: #{@character.metatype.special_ability}" %></li>
<ul class = "barscilwe">
  <li><%= "Body: #{@character.body}" %>
  <li><%= "Agility: #{@character.agility}" %>
  <li><%= "Strength: #{@character.strength}" %>
  <li><%= "Reaction: #{@character.reaction}" %>
  <li><%= "Charisma: #{ @character.charisma}" %>
  <li><%= "Intuition: #{ @character.intuition}" %>
  <li><%= "Logic: #{@character.logic}" %>
  <li><%= "Willpower: #{@character.willpower}" %>
  <li><%= "Edge: #{@character.edge}" %>
</ul>
<li><%= "Physical damage track: #{8 + (@character.body.to_f/2).ceil}" %></li>
<li><%= "Stun damage track: #{8 + (@character.willpower.to_f/2).ceil}" %></li>
<li><%= "Initiative: #{@character.reaction + @character.intuition}"%></li>
<li><%= "Initiative passes: #{@character.initiative_passes}" %></li>
<li><%= "Nuyen: #{@character.nuyen}" %></li>
<li><%= "Essence: #{@character.essence}" %></li>
<li><%= "Magic/Resonance: #{@character.magic}" %></li>
<li><%= "Bio: #{@character.bio}" %></li>
</ul>

Add dropdown to reveal form for changing stat, like inventory
<div class = 'editing-characters'>
<%= form_for @character do |f| %>
  <%= f.label :change_nuyen %>
  <%= f.text_field :nuyen %>

  <%= f.button :submit %>
<% end %>
</div>

<div id="character-deletion">
  <%= link_to("Delete this character? This action cannot be undone.",
    character_path(@character), method: :delete) %>
</div>

</div>

</body>
</html>
