<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Character</title>
</head>
<body>

<div id = "character-name">
  <%= @character.name %>
</div>

<div id='char-deletion'>
  <%= link_to(content_tag(:i,nil,class: "fa fa-trash-o"),
  character_path(@character), method: :delete, id: @character.id) %>
</div>

<ul class="char-nav">
  <li><%= link_to 'Base',character_path(@character) %></li>
  <li> | </li>
  <li><%= link_to 'Skills', character_character_skills_path(@character) %></li>
  <li> | </li>
  <li><%= link_to 'Qualities', character_character_qualities_path(@character) %></li>
  <li> | </li>
  <li><%= link_to 'Inventory', character_inventory_index_path(@character) %></li>
  <li> | </li>
  <li><%= link_to 'Connections', character_connections_path(@character) %></li>
</ul>

<table id = 'barscilwe'>
  <tr>
    <td><%= "Body: #{@character.body}" %>
    <td><%= "Agility: #{@character.agility}" %>
    <td><%= "Strength: #{@character.strength}" %>
    <td><%= "Reaction: #{@character.reaction}" %>
    <td><%= "Charisma: #{ @character.charisma}" %>
    <td><%= "Intuition: #{ @character.intuition}" %>
    <td><%= "Logic: #{@character.logic}" %>
    <td><%= "Willpower: #{@character.willpower}" %>
    <td><%= "Edge: #{@character.edge}" %>
  <tr>
</table>

<table>
  <tr><td>Metatype:</td><td><%= "#{@character.metatype.name}" %></td></tr>
  <tr><td>Metatype special: </td><td><%= "#{@character.metatype.special_ability}" %></td></tr>
</table>

<table>
  <tr><td>Physical damage track:</td><td> <%= "#{8 + (@character.body.to_f/2).ceil}" %></td></tr>
  <tr><td>Stun damage track:</td><td> <%="#{8 + (@character.willpower.to_f/2).ceil}" %></td></tr>
  <tr><td>Initiative:</td><td> <%= "#{@character.reaction + @character.intuition}"%></td></tr>
  <tr><td>Initiative passes</td><td><%= "#{@character.initiative_passes}" %></td></tr>
  <tr><td>Nuyen</td><td><%= "#{@character.nuyen}" %></tr>
  <tr><td>Essence:</td><td><%= "#{@character.essence}" %></tr>
  <tr><td>Magic/Resonance:</td><td> <%= "#{@character.magic}" %></tr>
  <tr><td>Biography:</td><td><%= "#{@character.bio}" %></tr>
</table>

  <div id='character-stat-edit'> Edit Character's: </div>
      <%= form_for @character, html: { id: "change_character" },
        method: :patch do |f| %>
        <%= select_tag "change", options_for_select(@attributes),
        prompt: "Select attribute to edit" %>
        <div id="base-edits">
          <div class="edit-input">
            
          </div>
        <%= f.button :submit %>
      </div>
      <% end %>

</body>
</html>
