<div id = "character-name"><%= @character.name %></div>

<ul class="char-nav">
  <li><%= link_to 'Base',character_path(@character) %></li>
  <li> | </li>
  <li><%= link_to 'Skills', character_character_skills_path(@character) %></li>
  <li> | </li>
  <li><%= link_to 'Qualities', character_character_qualities_path(@character) %></li>
  <li> | </li>
  <li><%= link_to 'Inventory', character_inventory_index_path(@character) %></li>
  <li> | </li>
  <li><%= link_to 'Connections', character_connections_path(@character) %></li>
</ul>

  <h3><a name="skills">Skills: </h3>
  <ul>
    <% @character.character_skills.each do |characterskill| %>

      <li id = <%= characterskill.id %> ><%= "#{characterskill.skill.name}, Rating: #{characterskill.rating},
        Specialization: #{characterskill.specialization}" %>
        <%= link_to(content_tag(:i,nil,class: "fa fa-trash-o"), character_character_skill_path(@character,
        characterskill), method: :delete,id: "delete-" + characterskill.id.to_s) %></li>

    <% end %>
  </ul>
<p class = 'edit-character-hover'>Add a skill</p>

<div class = 'edit-container'>
  <div class = "editing-characters">
      <div id = "add-skill">
        <%= form_for [@character, @character_skill] do |f| %>
          <%= f.fields_for @skill do |i| %>
            <%= i.label :name %>
            <%= i.text_field :name %>

            <%= i.label :skill_group %>
            <%= i.text_field :skill_group %>

            <%= i.label :default_skill %>
            <%= i.text_field :default_skill %>
          <% end %>

          <%= f.label :rating %>
          <%= f.text_field :rating %>

          <%= f.label :specialization %>
          <%= f.text_field :specialization, value: "None" %>

          <%= f.submit 'Submit' %>
        <% end %>
      </div>
      </div>
  </div>
