<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Character</title>
</head>

<div id = "character-name"><%= @character.name %></div>

<ul class="char-nav">
  <li><%= link_to 'Base',character_path(@character) %></li>
  <li> | </li>
  <li><%= link_to 'Skills', character_character_skills_path(@character) %></li>
  <li> | </li>
  <li><%= link_to 'Qualities', character_character_qualities_path(@character) %></li>
  <li> | </li>
  <li><%= link_to 'Inventory', character_inventory_index_path(@character) %></li>
  <li> | </li>
  <li><%= link_to 'Connections', character_connections_path(@character) %></li>
</ul>

  <h3><a name = "gear">Gear: </h3>
    <h6><a name = "weapons">&nbsp;Weapons: </h6>
      <div class = 'subheading'>
        <ul id = 'weapons' >
          <% if @character_inventory.character_weapons[0] != nil %>
            <% @character_inventory.character_weapons.each do |characterweapon| %>

              <li id = <%= characterweapon.id %>>
                <%= "#{characterweapon.weapon.name}:
                #{characterweapon.weapon.description}
                Damage: #{characterweapon.weapon.damage}
                #{characterweapon.weapon.damage_type}
                Armor piercing: #{characterweapon.weapon.armor_piercing}
                Rating: #{characterweapon.rating}
                Concealability modifier: #{characterweapon.weapon.concealability}
                Legality: #{characterweapon.weapon.legality}" %>

                <% if @character.character_weapons.first.weapon.ammo != "" %>
                  <%= "Ammo: #{characterweapon.weapon.ammo},
                    Mode: #{characterweapon.weapon.mode},
                    Recoil: #{characterweapon.weapon.recoil}" %>
                <% end %>

                <%= link_to(content_tag(:i,nil,class: "fa fa-trash-o"), character_character_weapon_path(@character,
                characterweapon), id: characterweapon.id.to_s, class: 'deleter') %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

    <h6><a name = "general-gear">&nbsp;General: </h6>
      <div class = 'subheading'>
        <ul id = 'general-gear'>
          <% if @character_inventory.character_tools[0] != nil %>
            <% @character_inventory.character_tools.each do |charactertool| %>
              <li id = <%= charactertool.id %>>
                <%= "#{charactertool.tool.name}, #{charactertool.tool.description}" %>
                <%= link_to(content_tag(:i,nil,class: "fa fa-trash-o"), character_character_tool_path(@character,
                charactertool), id: charactertool.id.to_s, class: 'deleter') %>
              </li>
            <% end %>
          <% end %>
        </ul>
    </div>

    <form id="gear-type">
      Add:
      <select id = "PickGear">
        <option value = '0'> Gear type </option>
        <option value = '1'> Weapons </option>
        <option value = '2'> Armour </option>
        <option value = '3'> Vehicles </option>
        <option value = '4'> General </option>
      </select>
    </form>

    <div id = "weapons-input">
      <%= form_for [@character, @character_weapon] do |f| %>

        <%= f.fields_for @weapon do |i| %>
          <%= i.label :name %>
          <%= i.text_field :name %>

          <%= i.label :description %>
          <%= i.text_field :description %>

          <%= i.label :damage, class: 'small-input-label' %>
          <%= i.number_field :damage, in: 0..100, value: '0' %>

          <%= i.label :damage_type, class: 'small-input-label' %>
          <%= i.text_field :damage_type, value: 'P'  %>

          <%= f.label :rating, class: 'small-input-label' %>
          <%= f.number_field :rating, in: 0..100 %>

          <%= i.label :armor_piercing, class: 'small-input-label' %>
          <%= i.number_field :armor_piercing, value: '0' %>

          <%= i.label :concealability %>
          <%= i.text_field :concealability %>

          <%= i.label :legality %>
          <%= i.text_field :legality, value: 'Legal' %>

          <%= i.label :melee %>
          <%= i.select :melee, [['Yes', true], ['No', false]] %>

          <div id ='guns-only'>
            <%= i.label :mode %>
            <%= i.text_field :mode %>

            <%= i.label :recoil %>
            <%= i.text_field :recoil %>

            <%= i.label :ammo %>
            <%= i.text_field :ammo %>
          </div>

        <% end %>

        <%= f.submit 'Submit' %>
      <% end %>
    </div>

    <div id = "general-gear-input">
      <%= form_for [@character, @character_tool] do |f| %>
        <%= f.fields_for @tool do |i| %>
          <%= i.label :name %>
          <%= i.text_field :name %>

          <%= i.label :description %>
          <%= i.text_field :description %>
        <% end %>

        <%= f.submit 'Submit' %>
      <% end %>
    </div>

    <div id = "armor-input">
      <%= form_for [@character, @character_armor] do |f| %>
        <%= f.fields_for @armor do |i| %>
          <%= i.label :name %>
          <%= i.text_field :name %>

          <%= i.label :description %>
          <%= i.text_field :description %>

          <%= i.label :ballistic %>
          <%= i.text_field :ballistic %>

          <%= i.label :impact %>
          <%= i.text_field :impact %>
        <% end %>

        <%= f.submit 'Submit' %>
      <% end %>
    </div>

  <div id = 'under-constructon'>
    <p><em>Still under construction.</em></p>
  </div>
