<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Character</title>
</head>

<div id = "character-name"><%= @character.name %></div>

<ul class="char-nav">
  <li><%= link_to 'Base',character_path(@character) %></li>
  <li> | </li>
  <li><%= link_to 'Skills', character_character_skills_path(@character) %></li>
  <li> | </li>
  <li><%= link_to 'Qualities', character_character_qualities_path(@character) %></li>
  <li> | </li>
  <li><%= link_to 'Inventory', character_inventory_index_path(@character) %></li>
  <li> | </li>
  <li><%= link_to 'Connections', character_connections_path(@character) %></li>
</ul>

  <h3><a name = "gear">Gear: </h3>
    <h6><a name = "weapons">&nbsp;Weapons: </h6>
      <div class = 'subheading'>
        <ul id = 'weapons' >
          <% if @character_inventory.character_weapons[0] != nil %>
            <% @character_inventory.character_weapons.each do |characterweapon| %>

              <li id = <%= characterweapon.id %>>
                <%= "#{characterweapon.weapon.name}:
                #{characterweapon.weapon.description}
                Damage: #{characterweapon.weapon.damage}
                #{characterweapon.weapon.damage_type}
                Armor piercing: #{characterweapon.weapon.armor_piercing}
                Rating: #{characterweapon.rating}
                Concealability modifier: #{characterweapon.weapon.concealability}
                Legality: #{characterweapon.weapon.legality}" %>

                <% if @character.character_weapons.first.weapon.ammo != "" %>
                  <%= "Ammo: #{characterweapon.weapon.ammo},
                    Mode: #{characterweapon.weapon.mode},
                    Recoil: #{characterweapon.weapon.recoil}" %>
                <% end %>

                <%= link_to(content_tag(:i,nil,class: "fa fa-trash-o"), character_character_weapon_path(@character,
                characterweapon), id: characterweapon.id.to_s, class: 'deleter') %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

    <h6><a name = "armor">&nbsp;Armor and Clothes: </h6>
      <div class = 'subheading'>
        <ul id = 'armor'>
          <% if @character_inventory.character_armors[0] != nil %>
            <% @character_inventory.character_armors.each do |characterarmor| %>
              <li id = <%= characterarmor.id %>>
                <%= "#{characterarmor.armor.name}, #{characterarmor.armor.description} #{characterarmor.armor.impact}/#{characterarmor.armor.ballistic}" %>
                <%= link_to(content_tag(:i,nil,class: "fa fa-trash-o"), character_character_armor_path(@character,
                characterarmor), id: characterarmor.id.to_s, class: 'deleter') %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

    <h6><a name = "crafts">&nbsp;Vehicles and Drones: </h6>
      <div class = 'subheading'>
        <ul id = 'crafts'>
          <% if @character_inventory.character_crafts[0] != nil %>
            <% @character_inventory.character_crafts.each do |charactercraft| %>
              <li id = <%= charactercraft.id %>>
                <%= "#{charactercraft.craft.name}, #{charactercraft.craft.description}
                Handling: #{charactercraft.craft.handling}
                Acceleration: #{charactercraft.craft.acceleration}
                Pilot: #{charactercraft.craft.pilot}
                Speed: #{charactercraft.craft.speed}
                Body: #{charactercraft.craft.body}
                Armor: #{charactercraft.craft.armor}
                Sensor: #{charactercraft.craft.sensor}" %>
                <%= link_to(content_tag(:i,nil,class: "fa fa-trash-o"), character_character_craft_path(@character,
                charactercraft), id: charactercraft.id.to_s, class: 'deleter') %>
              </li>
            <% end %>
          <% end %>
        </ul>
    </div>

    <h6><a name = "cyberbioware">&nbsp;Cyberware and Bioware: </h6>
      <div class = 'subheading'>
        <ul id = 'cyberbioware'>
          <% if @character_inventory.character_cyberbiowares[0] != nil %>
            <% @character_inventory.character_cyberbiowares.each do |charactercyberbioware| %>
              <li id = <%= charactercyberbioware.id %>>
                <%= "#{charactercyberbioware.cyberbioware.name}, #{charactercyberbioware.cyberbioware.description}" %>
                <%= link_to(content_tag(:i,nil,class: "fa fa-trash-o"), character_character_cyberbioware_path(@character,
                charactercyberbioware), id: charactercyberbioware.id.to_s, class: 'deleter') %>
              </li>
            <% end %>
          <% end %>
        </ul>
    </div>

    <h6><a name = "general-gear">&nbsp;General: </h6>
      <div class = 'subheading'>
        <ul id = 'general-gear'>
          <% if @character_inventory.character_tools[0] != nil %>
            <% @character_inventory.character_tools.each do |charactertool| %>
              <li id = <%= charactertool.id %>>
                <%= "#{charactertool.tool.name}, #{charactertool.tool.description}" %>
                <%= link_to(content_tag(:i,nil,class: "fa fa-trash-o"), character_character_tool_path(@character,
                charactertool), id: charactertool.id.to_s, class: 'deleter') %>
              </li>
            <% end %>
          <% end %>
        </ul>
    </div>

    <form id="gear-type">
      Add:
      <select id = "PickGear">
        <option value = '0'> Gear type </option>
        <option value = '1'> Weapons </option>
        <option value = '2'> Armor </option>
        <option value = '3'> Vehicles and drones </option>
        <option value = '5'> Cyberware and Bioware </option>
        <option value = '4'> General </option>
      </select>
    </form>

    <div class = "gear-input" id = "weapons-input">
      <%= form_for [@character, @character_weapon] do |f| %>

        <%= f.fields_for @weapon do |i| %>
          <%= i.label :name %>
          <%= i.text_field :name %>

          <%= i.label :description %>
          <%= i.text_field :description %>

          <%= i.label :damage, class: 'small-input-label' %>
          <%= i.number_field :damage, in: 0..100, value: '0' %>

          <%= i.label :damage_type, class: 'small-input-label' %>
          <%= i.text_field :damage_type, value: 'P'  %>

          <%= f.label :rating, class: 'small-input-label' %>
          <%= f.number_field :rating, in: 0..100 %>

          <%= i.label :armor_piercing, class: 'small-input-label' %>
          <%= i.number_field :armor_piercing, value: '0' %>

          <%= i.label :concealability %>
          <%= i.text_field :concealability %>

          <%= i.label :legality %>
          <%= i.text_field :legality, value: 'Legal' %>

          <%= i.label :melee %>
          <%= i.select :melee, [['Yes', true], ['No', false]] %>

          <div id ='guns-only'>
            <%= i.label :mode %>
            <%= i.text_field :mode %>

            <%= i.label :recoil %>
            <%= i.text_field :recoil %>

            <%= i.label :ammo %>
            <%= i.text_field :ammo %>
          </div>

        <% end %>

        <%= f.submit 'Submit' %>
      <% end %>
    </div>

    <div class = "gear-input" id = "general-gear-input">
      <%= form_for [@character, @character_tool] do |f| %>
        <%= f.fields_for @tool do |i| %>
          <%= i.label :name %>
          <%= i.text_field :name %>

          <%= i.label :description %>
          <%= i.text_field :description %>
        <% end %>

        <%= f.submit 'Submit' %>
      <% end %>
    </div>

    <div class = "gear-input" id = "armor-input">
      <%= form_for [@character, @character_armor] do |f| %>
        <%= f.fields_for @armor do |i| %>
          <%= i.label :name %>
          <%= i.text_field :name %>

          <%= i.label :description %>
          <%= i.text_field :description %>

          <%= i.label :ballistic %>
          <%= i.text_field :ballistic %>

          <%= i.label :impact %>
          <%= i.text_field :impact %>
        <% end %>

        <%= f.submit 'Submit' %>
      <% end %>
    </div>

    <div class = "gear-input" id = "crafts-input">
      <%= form_for [@character, @character_craft] do |f| %>
        <%= f.fields_for @craft do |i| %>
          <%= i.label :name %>
          <%= i.text_field :name %>

          <%= i.label :description %>
          <%= i.text_field :description %>

          <%= i.label :handling, class: 'small-input-label' %>
          <%= i.text_field :handling %>

          <%= i.label :acceleration, class: 'small-input-label' %>
          <%= i.text_field :acceleration %>

          <%= i.label :pilot, class: 'small-input-label' %>
          <%= i.number_field :pilot, in: 0..100 %>

          <%= i.label :speed, class: 'small-input-label' %>
          <%= i.number_field :speed, in: 0..100 %>

          <%= i.label :body, class: 'small-input-label' %>
          <%= i.number_field :body, in: 0..100 %>

          <%= i.label :armor, class: 'small-input-label' %>
          <%= i.number_field :armor, in: 0..100 %>

          <%= i.label :sensor, class: 'small-input-label' %>
          <%= i.number_field :sensor, in: 0..100 %>
        <% end %>
        <br>
        <%= f.submit 'Submit' %>
      <% end %>
    </div>

    <div class = "cyberbioware-input" id = "cyberbioware-input">
      <%= form_for [@character, @character_cyberbioware] do |f| %>
        <%= f.fields_for @cyberbioware do |i| %>
          <%= i.label :name %>
          <%= i.text_field :name %>

          <%= i.label :description %>
          <%= i.text_field :description %>
        <% end %>

        <%= f.submit 'Submit' %>
      <% end %>
    </div>

  <div id = 'under-constructon'>
    <p><em>Still under construction.</em></p>
  </div>
