<!DOCTYPE html>
<html>
<head>
  <title>Shadowrun4e</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id = 'background' >
    <div id = 'panel'>
      <div id = 'landing-title'> <%= image_tag('logo.jpg') %> </div>

      <ul id = 'landing-nav-bar'>
        <% if user_signed_in? %>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path, method: :get %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path, method: :get %></li>
        <% end %>
      </ul>
    </div>

    <%= yield %>

  </div>

</body>
</html>
